{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react",
    "react-hooks",
    "import",
    "prettier",
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "alias": {
          "~": "./src"
        }
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "off",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-unused-vars": [
      "off",
      {
        "vars": "all",
        "args": "all",
        "varsIgnorePattern": "^jsx$",
        "argsIgnorePattern": "[Ii]gnored$"
      }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/ban-types": [
      "warn",
      {
        "types": {
          "Array": "Use [] instead",
          "Object": {
            "message": "Use object instead",
            "fixWith": "object"
          },
          "String": {
            "message": "Use string instead",
            "fixWith": "string"
          },
          "Number": {
            "message": "Use number instead",
            "fixWith": "number"
          },
          "Boolean": {
            "message": "Use boolean instead",
            "fixWith": "boolean"
          }
        }
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": "off"
  }
}
