// Main Colors
$gray: #ccc;
$white: #ffffff;
$black: #000000;
$red: #FF0000;
$blue: #217aff;
$ghost: #5b708f;
$gray_scale_12: #999999;
$gray_scale_55: #666666;
$gray_scale_66: #555555;
$gray_scale_77: #777777;
$gray_scale_92: #edf5ff;
$gray_scale_97: #f5f7fa;
