.wrapper {
  transition: box-shadow 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: lightblue;
  border-radius: 20px;
  padding: 20px;

  &:hover {
    box-shadow: rgba(57, 116, 135, 0.4) 5px 5px,
      rgba(57, 116, 135, 0.3) 10px 10px, rgba(57, 116, 135, 0.2) 15px 15px,
      rgba(57, 116, 135, 0.1) 20px 20px, rgba(57, 116, 135, 0.05) 25px 25px;
  }

  img {
    width: 400px;
    height: 400px;

    @media (max-width: 568px) {
      height: auto;
    }
  }
}
